:root{
    --mx-width: 1320px;
    --color-border: #FFCB2F;
    --color-secondary:#363535; 
    --color-bg-grey:#050505;
  }

.layout__footer {
    padding-top: 1rem;
    background-color: var(--color-bg-grey);
    font-family: "Montserrat", sans-serif;
}

.footer__container {
    max-width: var(--mx-width);
    margin: 0 auto;

}

.footer__top {
    padding-bottom: 7rem;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.social__img {
    display: inline-block;
    color: var(--color-border);
    font-size: 3rem;
    padding: 0.5rem;
    transition: all 300ms ease-in-out;
}
.social__item{
    color: var(--color-border);
}
.social__item:hover{
    color: var(--color-border);
}
.social__link:hover>.social__img {
    color: var(--color-secondary);
}

.footer__main {
    display: flex;
    flex-direction: row;
    
}

.footer__fleft {
    flex-basis: 50%;
}

.fleft__container {
    border-right: 1px solid var(--color-borders);
    padding-right: 8rem;
    margin-right: 4rem;
    margin-bottom: 8rem;
}

.fleft__title {
    display: inline-block;
    font-size: 6.3rem;
    line-height: 1.2;
    font-weight: 500;
    color: rgb(190, 182, 182);
    margin-bottom: 2rem;
}

.fleft__subtitle {
    font-size: 1.7rem;
    margin-bottom: 4rem;
    color: rgb(190, 182, 182);
}

.fleft__group {
    position: relative;
    width: 100%;
    background-color: var(--color-secondary);
    border-radius: 20px;
    height: 7.2rem;
    padding: 1rem;
    box-shadow: 0 20px 48px -45px #ddd;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fleft__mail-icon {
    display: inline-block;
    margin-left: 2rem;
}

.fleft__form-control {
    display: block;
    position: relative;
    padding: 0.5rem 1.5rem;
    height: auto;
    border: none;
    outline: none;
    color: var(--color-title);
    margin-left: 1rem;

    flex: 1;
}

.fleft__btn {
    cursor: pointer;
    border: none;
    height: 4.2rem;
    background-color: #36353580;
    color: var(--color-border);
    border-radius: 16px;
    padding: 1.4rem 3rem;
    transition: all 300ms ease-in-out;
}

.fleft__btn:hover {
    background-color: var(--color-border);
    color: var(--color-secondary);
}

.footer__fright {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    gap: 2rem;
}

.footer__widget {
    margin-bottom: 8rem;
    flex-basis: 33%;
    /* gap: 2rem; */
}

.footer__widget--50 {
    flex-basis: 50%;

}

.footer__widget--25 {
    flex-basis: 25%;
    /* gap: 2rem; */
}

.widget__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-border);
    margin-bottom: 2rem;
}

.widget__link {
    font-size: 1.4rem;
    padding: 0.5rem 0;
    display: inline-block;
    transition: all 300ms linear;
}
.widget__list{
    list-style: none;
}
.widget__item a{
    text-decoration: none;
    color: white;
}
.widget__link:hover {
    color: var(--color-border);
}

@media (max-width: 750px){
    .fleft__title{
        font-size: 3.3rem;
    }
    .fleft__subtitle{
        font-size: 1.5rem;
    }
    .fleft__container {
        margin-left: 2rem;
    }
    .fleft__container {
        border-right: 1px solid var(--color-borders);
        padding-right: 0rem;
        margin-right: 1rem;
        margin-bottom: 8rem;
        margin-left: 1rem;
    }
    .fleft__group {
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 5.2rem;
        padding: 0;
    
        }

        .fleft__form-control {
            margin-top: 1.4rem;
            width: 70%;
        }
        .fleft__btn {
            cursor: pointer;
            border: none;
            height: 4.2rem;
            margin-top: 2rem;
            }
}

@media (max-width: 514px){
    .widget__list{
        padding-left: 0;
        font-size: 0.9rem;
    }
    .widget__list li a{
        font-weight: 100;
        font-size: 1.2rem;
    }
}

